/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

input[type="date"],
input[type="number"],
input[type="checkbox"],
select {
  margin: 5px;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
}

#tripDate {
  margin-right: 10px;
}

#disableDays {
  margin-left: 5px;
}
